// Ativar o tema azul mudar para: $theme-blue: true; 
// Desativar o tema azul mudar para: $theme-blue: false; 
$theme-blue: false; 

// Ativar o tema verde mudar para: $theme-dark: true; 
// Desativar o tema verde mudar para: $theme-dark: false; 
$theme-dark: false; 

// Esquema de cores
$purple: #5D4485;
$blue: #2980b9;
$white: #ffffff;
$dark: #2c3e50;
$yeloow: #f1c40f;

