// [Árvore de pesquisas]
// 1.Placeholder
// 2.Mixin dos temas
// 3.Theme
// 4.Imports

// Placeholder
%base{
	width: 600px;
	height: 80px;
	float: left;
	position: relative; 
}

// Mixin dos temas
@mixin theme($bg: $white, $color: $purple, $border: $purple) {

		border: 1px solid $border;
		background-color: $bg;
		.logo h2{
			color: $color;
		}
		.menu ul li a {
			color: $color;
			&:hover{
				background-color: $dark;
				color: $white;
			}
		}
}

.navbar {
	@extend %base;
	@include theme;
}

// Imports
@import "menu.scss";